---
layout: default
title: Home
---

<div class="tags-expo">
  <!-- 카테고리 목록 -->
  <div class="tags-expo-list">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr />
  <!-- 최근 글 바로가기 -->
  <div class="tags-expo-section">
    <h2>최근 글 바로가기</h2>
    <ul class="tags-expo-posts">
      {% for post in paginator.posts %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <li>
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </li>
        </a>
      {% endfor %}
    </ul>
    <!-- 카테고리 목록 -->
    <div class="tags-expo-section">
      {% for tag in site.categories %}
      <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
      <ul class="tags-expo-posts">
        {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <li>
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </li>
        </a>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
  <hr />
  <!-- 태그 목록 표출 -->
  <div class="tags-expo-list" style="margin-bottom: 40px">
    {% for tag in site.tags %}
    <a href="/blog/tags/#{{ tag[0] | slugify }}" class="post-tag"
      >{{ tag[0] }}</a
    >
    {% endfor %}
  </div>
</div>
