.cate_title, .tag_title{
    text-align: center;
    font-weight: bold;
}
.contents {
    border: 1px solid #e8e8e8;
    padding: 10px;

    ul {
        padding-left:  10px;
        li {
            padding-left: 0px;

            ul li {
                padding-left: 30px;
            }
        }
    }
}
//게시글 목차
.con1 {
    @media(min-width: 768px) {
        display: none;
    }
}
.con2 {
    @media(max-width: 768px) {
        display: none;
    }
}
//태그
.tags {
    a {
        background: #ececec;
        color: black;
        padding: 2px 5px;
        border-radius: 5px;
        font-weight: bold;
    }
}