---
layout: default
title: Categories
type: page
---
{% assign esc_ctgname="{{ hash }}" %}
{% assign esc_title="{{ p.title }}" %}
{% assign esc_date="{{ p.date }}" %}

<div class="tags-expo">
  <div class="tags-expo-section">
    <h1>{{ esc_ctgname }}</h1>
    <hr/>
    <ul class="tags-expo-posts">
      <li v-for="p in posts" v-if="p.categories.indexOf(hash) != -1">
        <a class="post-title" v-bind:href="p.url">
          <span class="post-title">{{ esc_title }}</span> <small class="post-date">{{ esc_date }}</small>
        </a>
      </li>
    </ul>
  </div>
</div>
<hr/>

<script>
var hash = decodeURI(window.location.hash.substr(1));

var postList = new Vue({
  el: '.tags-expo-section',
  data: {
    posts: []
  }
});

axios.get('/posts.json')
  .then(function (response) {
    console.log(response)
    postList.posts = response.data.posts;
  })
  .catch(function (error) {
    console.log(error);
  });
</script>